body {
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

@media only screen and (min-width: 576px) {
  .search-container {
    width: 500px;
  }

  .music-container {
    width: 450px;
  }
  .music-info #title {
    font-size: 15px !important;
  }
}

@media only screen and (min-width: 992px) {
  .search-container {
    width: 700px;
  }
  .music-info #title {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 576px) {
  .music-container {
    width: 400px;
  }

  .action-btn {
    font-size: 15px !important;
    margin-right: 10px !important;
  }

  .music-info #title {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 450px) {
  .search-container {
    width: 300px;
  }
  .music-container {
    width: 300px;
    padding: 20px 0 20px 30px !important;
  }
  .action-btn {
    font-size: 15px !important;
    margin: 0 !important;
  }

  .music-info {
    padding-left: 100px !important;
  }

  .music-info #title {
    font-size: 11px !important;
  }

  .navigation {
    margin-left: 20px !important;
  }
}
